@font-face {
    font-family: omnia;
    src: url('./Fonts/HaringtonSignatureDemo-e9VYO.otf');
    font-size: large;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F5DEB3;
}

/* setting box*/
.setting {
    position: absolute;
    width: 100%;
    text-align: right;
    right: 30px;
    padding-top: 25px;
    cursor: pointer;
}

.setting-list {
    height: 500px;
    width: 200px;
    position: absolute;
    right: 15px;
    background-color: white;
    top: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.setting-list::before {
    content: '';
    width: -7px;
    height: -10px;
    position: absolute;
    right: 11px;
    top: -20px;
    border-style: solid;
    border-width: 12px;
    border-color: transparent transparent #fff transparent;
}

.theme-div {
    display: block;
    border-radius: 5px;
    background-color: #8b480f;
    color: #fff;
    width: 160px;
    height: 100px;
    padding-top: 10px;
}

.theme-div>p {
    font-weight: bold;
}



.theme-div span.dark,
span.light {
    color: #8b480f;
    background-color: #fff;
    padding: 1px 8px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 4px;
    cursor: pointer;
}


.theme-div span.active {
    background-color: #532905;
    color: #fff;
    padding: 3px 10px
}



/* start header */

.header {
    position: relative;
    min-height: 100vh;
    background-image: url('./imgs/pexels-pixabay-260922.jpg');
    background-position: 100%;
    object-fit: cover;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000001c;
    z-index: 2;
}

.nav-bar {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 1000;
}

.nav-bar .links a {
    text-decoration: none;
    color: aliceblue;
}

.links-container {
    position: absolute;
    width: 100%;
    text-align: right;
    right: 100px;
    padding-top: 20px;
}

.nav-bar .links li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}




.title {
    font-family: omnia;
    font-size: 40px;
    width: 100%;
    font-style: italic;
    color: #fff;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width: 200px) {
    .title {
        font-size: 35px;
    }
}

@media(min-width: 500px) {
    .title {
        font-size: 50px;
    }
}


@media(min-width: 700px) {
    .title {
        font-size: 60px;
    }
}

@media(min-width: 900px) {
    .title {
        font-size: 70px;
    }
}


a {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* start Menu */
/* .container {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
} */

.Menu {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
    /* background-color: #532905; */
    background-size: 100%;
}

.Menu .inner-title {
    font-family: omnia;
    font-style: italic;
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.Menu .content {
    width: 100%;
    height: auto;
    text-align: center;
}

.content ul {
    list-style: none;
}

.content li {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: lighter;
}

.about-us {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;

}

.about-us h2 {
    font-weight: 800;
    font-family: omnia;
    font-style: italic;
    text-align: initial;
    padding: 10px;
}

.about-us p {
    padding-left: 20px;
    font-family: cursive;
}

/* start our gallery */
.our-gallery {
    padding-top: 50px;
    background-color: #532905;
}

.our-gallery h4 {
    font-family: omnia;
    font-style: italic;
    font-size: 74px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 50px;
    color: #fff;
}

.our-gallery .images {
    width: 100%;
    height: auto;
    text-align: center;

}



.our-gallery img {
    border-radius: 6px;
    flex: 0 0 200px;
    height: 400px;
    margin-bottom: 20px;
    margin: 20px;
    object-fit: cover;
}



.hidden {
    display: none;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .our-gallery img {
        width: calc(100%/3);
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .our-gallery img {
        width: calc(100%/3);
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .our-gallery img {
        width: calc(100%/4);
    }
}

/* start contact area */

.contacts {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    background-color: #532905;
    color: #fff;
    padding: 20px;
}

.contacts h2 {
    font-family: omnia;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;


}